h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clients img {
    width: 100px;
}

.testimony {
    background-color: gray;
}

.testimony img {
    width: 100px;
    border-radius: 10rem;
}

.subrek {
    background-color: deeppink;
}

.subrek label {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.subrek input {
    width: 80%;
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
    border: none;
}

.subrek button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    color: white;
    background-color: deeppink;
}

footer {
    /* display: flex; */
    /* flex-direction: row; */
    /* padding: 3rem 2rem; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: rgb(48, 48, 48);
    color: white;
    /* margin-top: 20px; */
}

footer .footer-information h3 {
    font-weight: bold;
}

footer .footer-social-media .footer-social-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
}

footer .footer-social-media .footer-social-icon img {
    width: 30px;
}  

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

#logo img {
    width: 80px;
}

